<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="issue_date" maxlength="40" placeholder="Ngày sản xuất" required>
</div>  
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="employee_name" maxlength="40" placeholder="Tên nhân viên" required>
</div> 
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="production_code" maxlength="40" placeholder="CTSX" required>
</div> 
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="product_code" maxlength="40" placeholder="Mã sản phẩm" required>
</div>   
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="production_time" maxlength="40" placeholder="Thời gian sản xuất" required>
</div>  
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="product_quantity" maxlength="40" placeholder="Số lượng sản xuất" required>
</div>  
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="ng_quantity" maxlength="40" placeholder="Số lượng NG" required>
</div>  
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="stage" maxlength="40" placeholder="Công đoạn" required>
</div>  
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="basket" maxlength="40" placeholder="Mã thùng" required>
</div>  
<div class="input-group mb-3">
    <span class="btn border-secondary bg-light"><i class="fas fa-user-alt"></i></span>
    <input type="text" class="form-control" name="note" maxlength="40" placeholder="Phiếu DCCĐ" required>
</div>  